/*start general properties for website*/
/***************************** Start Animations *****************************/
@-webkit-keyframes slideUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes slideUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes slideDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slideDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes expands {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes expands {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg) scale3d(0.8, 0.8, 0.8);
            transform: rotate(0deg) scale3d(0.8, 0.8, 0.8);
  }
  100% {
    -webkit-transform: rotate(360deg) scale3d(1, 1, 1);
            transform: rotate(360deg) scale3d(1, 1, 1);
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg) scale3d(0.8, 0.8, 0.8);
            transform: rotate(0deg) scale3d(0.8, 0.8, 0.8);
  }
  100% {
    -webkit-transform: rotate(360deg) scale3d(1, 1, 1);
            transform: rotate(360deg) scale3d(1, 1, 1);
  }
}

@-webkit-keyframes st-video-animaion {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.0;
  }
  25% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: .75;
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0;
  }
}

@keyframes st-video-animaion {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.0;
  }
  25% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: .75;
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0;
  }
}

@-webkit-keyframes rotate-one {
  0% {
    -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
            transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
            transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate-one {
  0% {
    -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
            transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
            transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@-webkit-keyframes rotate-two {
  0% {
    -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
            transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
            transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes rotate-two {
  0% {
    -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
            transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
            transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@-webkit-keyframes rotate-three {
  0% {
    -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
            transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
            transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}

@keyframes rotate-three {
  0% {
    -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
            transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
            transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}

@-webkit-keyframes loaderSlideDown {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    display: none;
  }
}

@keyframes loaderSlideDown {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    display: none;
  }
}

@font-face {
  font-family: "regular";
  src: url(../fonts/Janna/JannaLT-Regular.ttf);
}

@font-face {
  font-family: "bold";
  src: url(../fonts/Janna/JannaLT-Bold.ttf);
}

* {
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px;
  scroll-behavior: smooth;
}

* ::-webkit-scrollbar-thumb {
  background-color: #d91b5c;
  border-radius: 0px;
}

* ::-webkit-scrollbar {
  width: 2px;
  background-color: transparent;
}

.btn:focus,
button:focus,
input:focus,
.form-control:focus {
  outline-width: 0px !important;
  outline-color: transparent !important;
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
          box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

html[dir='rtl'] .scroll-top-button {
  left: 5px;
}

html[dir='ltr'] .scroll-top-button {
  right: 5px;
}

a {
  text-decoration: none !important;
}

.dropdown-toggle:after {
  display: none !important;
}

.overflowNone {
  overflow: hidden;
}

.heading {
  width: 100%;
  text-align: center;
  margin-bottom: 50px !important;
}

.heading h4 {
  color: #d91b5c;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0px auto  10px !important;
  font-family: 'bold';
  font-size: 20px;
  padding: 0px 20px 40px 20px;
  position: relative;
}

.heading h4::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  background: url(../images/icon.png) #fff;
  background-size: contain;
  background-repeat: no-repeat;
  bottom: 0px;
  left: calc(50% - 15px);
}

.heading h4::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #d91b5c;
  bottom: 15px;
  left: 0;
}

.heading p {
  color: #777;
  font-size: 15px;
  line-height: 1.8rem;
  font-family: 'regular';
}

/*end general properties for website*/
.navbar {
  width: 100%;
  padding: 10px 0px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 3px #d91b5c !important;
          box-shadow: 0px 0px 3px #d91b5c !important;
  z-index: 9999;
}

.navbar .hamburger {
  display: none;
}

.navbar .hamburger .line {
  width: 30px;
  height: 3px;
  background-color: #d91b5c;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navbar .hamburger.active {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.navbar .hamburger.active .line:nth-child(2) {
  width: 0px;
}

.navbar .hamburger.active .line:nth-child(1),
.navbar .hamburger.active .line:nth-child(3) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.navbar .hamburger.active .line:nth-child(1) {
  -webkit-transform: translateY(6.5px);
          transform: translateY(6.5px);
}

.navbar .hamburger.active .line:nth-child(3) {
  -webkit-transform: translateY(-15px) rotate(90deg);
          transform: translateY(-15px) rotate(90deg);
}

.navbar .nav-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .nav-content .brand-name img {
  display: block;
  width: 150px;
  height: 60px;
  -o-object-fit: contain;
     object-fit: contain;
}

.navbar .nav-content .navbar-nav {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.navbar .nav-content .navbar-nav .nav-item {
  position: relative;
  margin: 0px 10px;
}

.navbar .nav-content .navbar-nav .nav-item .nav-link {
  padding: .5rem 1.5rem;
  color: #666;
  font-family: 'bold';
  font-size: 16px;
  -webkit-transition: all .8s linear;
  transition: all .8s linear;
}

.navbar .nav-content .navbar-nav .nav-item::after {
  content: '';
  position: absolute;
  width: 50%;
  height: 2px;
  background-color: #d91b5c;
  bottom: 0;
  border-radius: 5px;
  left: 25%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}

.navbar .nav-content .navbar-nav .nav-item:hover .nav-link, .navbar .nav-content .navbar-nav .nav-item.active .nav-link {
  color: #d91b5c;
}

.navbar .nav-content .navbar-nav .nav-item:hover::after, .navbar .nav-content .navbar-nav .nav-item.active::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.navbar .language {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background-color: #d91b5c;
}

.navbar .language span {
  color: #fff;
  font-size: 17px;
  font-family: 'bold';
}

.navbar .card {
  width: 100%;
  position: unset !important;
  border: none;
  padding: 0px !important;
}

.navbar .card .card-body {
  padding: 0px !important;
  border: none;
}

.navbar .card .collapse {
  width: 100%;
  min-width: 300px;
  position: absolute;
  top: 50px;
  background-color: #fff;
  padding: 0px !important;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  display: block;
  opacity: 0;
  visibility: hidden;
}

.navbar .card .collapse ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.navbar .card .collapse ul li {
  margin: 5px 0px;
}

.navbar .card .collapse ul li a {
  width: 100%;
  display: block;
  padding: 10px 15px;
  background-color: rgba(204, 204, 204, 0.5);
  color: #888;
}

.navbar .card:hover .collapse {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

/*start header*/
header {
  width: 100%;
  position: relative;
  padding: 200px 0px 100px 0px;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  z-index: 9;
}

header::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(217, 27, 92, 0.7);
  top: 0;
  left: 0;
  z-index: -1;
}

header::before {
  content: '';
  position: absolute;
  width: 100% !important;
  height: 590px;
  background: url(../images/curve_shape.png);
  bottom: 0px;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
}

header .content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .content h6 {
  color: #f9f9f9;
  margin-bottom: 20px;
  font-size: 18px;
  font-family: 'regular';
  opacity: 0;
}

header .content h4 {
  color: #fff;
  opacity: 0;
  -webkit-transform: translateY(-20%);
          transform: translateY(-20%);
  will-change: transform,opacity;
  font-family: 'bold';
  font-size: 22px;
  margin-bottom: 20px;
}

header .content p {
  color: #f9f9f9;
  font-family: 'regular';
  text-align: justify;
  line-height: 2rem;
  font-size: 15px;
  opacity: 0;
  -webkit-transform: translateY(-20%);
          transform: translateY(-20%);
  will-change: transform,opacity;
}

header .image-content {
  width: 100%;
  height: 600px;
  padding-bottom: 50px;
  position: relative;
}

header .image-content svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
}

header .image-content svg .big-circle, header .image-content svg .small-circle {
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: center;
          transform-origin: center;
  will-change: transform,opacity;
}

header .image-content img {
  width: 100%;
  height: 600px;
  position: absolute;
  bottom: 0;
  z-index: 10;
  opacity: 0;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  will-change: transform,opacity;
}

header .owl-item.active .content h6 {
  -webkit-animation: fadeIn 1s ease 1s 1 normal forwards;
          animation: fadeIn 1s ease 1s 1 normal forwards;
}

header .owl-item.active .content h4 {
  -webkit-animation: slideDown 1s ease .5s 1 normal forwards;
          animation: slideDown 1s ease .5s 1 normal forwards;
}

header .owl-item.active .content p {
  -webkit-animation: slideDown 1s ease 1s 1 normal forwards;
          animation: slideDown 1s ease 1s 1 normal forwards;
}

header .owl-item.active .image-content .big-circle {
  -webkit-animation: expands 1s ease 0s 1 normal forwards;
          animation: expands 1s ease 0s 1 normal forwards;
}

header .owl-item.active .image-content .small-circle {
  -webkit-animation: expands 1s ease .5s 1 normal forwards;
          animation: expands 1s ease .5s 1 normal forwards;
}

header .owl-item.active .image-content img {
  -webkit-animation: slideUp 1s ease 1s 1 normal forwards;
          animation: slideUp 1s ease 1s 1 normal forwards;
}

header .owl-theme .owl-nav.disabled + .owl-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 50%;
  right: -7%;
}

header .owl-theme .owl-dots .owl-dot span {
  position: relative;
  background-color: #f9f9f9;
  border: 1px solid #f9f9f9;
  z-index: 99;
}

header .owl-theme .owl-dots .owl-dot span::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: #fff;
  top: 50%;
  border-radius: 4px;
  border: .5px solid #d91b5c;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: -10px;
  opacity: 0;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
  z-index: -1;
}

header .owl-theme .owl-dots .owl-dot.active span, header .owl-theme .owl-dots .owl-dot:hover span {
  border-color: #d91b5c;
  background-color: #f9f9f9;
}

header .owl-theme .owl-dots .owl-dot.active span::after, header .owl-theme .owl-dots .owl-dot:hover span::after {
  opacity: 1;
  left: -15px;
}

.header {
  width: 100%;
  padding: 200px 0px 100px;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  z-index: 9;
  position: relative;
}

.header::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(217, 27, 92, 0.7);
  top: 0;
  left: 0;
  z-index: -1;
}

.header ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.header ul li {
  margin: 0px 20px;
  position: relative;
}

.header ul li a, .header ul li span {
  font-size: 15px;
  font-family: 'bold';
}

.header ul li a {
  color: #fff;
}

.header ul li span {
  color: #13A89E;
}

.header ul li::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  left: -25px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #d91b5c;
  border: 2px solid #eaeaea;
}

.header ul li:last-child::after {
  display: none;
}

.who-us {
  width: 100%;
  position: relative;
  padding: 60px 0px 50px 0px;
}

.who-us .box {
  width: 100%;
  padding: 20px 30px;
  border-radius: 7px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border: 1px solid #eaeaea;
  background-color: #fff;
  overflow: hidden;
  height: 100%;
}

.who-us .box .image-content {
  width: 100px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: auto;
  position: relative;
  z-index: 99;
}

.who-us .box .image-content img {
  width: 70%;
  height: 70%;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-filter: invert(22%) sepia(59%) saturate(3914%) hue-rotate(324deg) brightness(85%) contrast(99%);
          filter: invert(22%) sepia(59%) saturate(3914%) hue-rotate(324deg) brightness(85%) contrast(99%);
}

.who-us .box .image-content::After {
  content: '';
  position: absolute;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: rgba(19, 168, 158, 0.14);
  z-index: -1;
  top: 0px;
  right: 0px;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}

.who-us .box .content {
  padding: 30px 0px 0px 0px;
  text-align: center;
}

.who-us .box .content h4 {
  font-size: 20px;
  font-family: 'bold';
  margin-bottom: 20px;
  color: #222;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}

.who-us .box .content p {
  color: #666;
  font-size: 16px;
  line-height: 1.8rem;
  font-family: 'regular';
}

.who-us .box .content .link i {
  color: #d91b5c;
  margin: 0px 10px;
  font-size: 20px;
}

.who-us .box .content .link span {
  color: #888;
  font-size: 15px;
  font-family: 'regular';
}

.who-us .box:hover {
  -webkit-box-shadow: 0px 0px 10px #eaeaea;
          box-shadow: 0px 0px 10px #eaeaea;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  border-color: transparent;
}

.who-us .box:hover .image-content::after {
  top: -10px;
  right: -10px;
  -webkit-animation: spinner 1s linear;
          animation: spinner 1s linear;
}

.who-us .box:hover h4 {
  color: #d91b5c;
}

/*start services*/
.services {
  width: 100%;
  padding: 50px 0px;
  position: relative;
  background-color: #f9fafc;
}

.services .content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services .content h6 {
  color: #222;
  font-family: 'bold';
  font-size: 18px;
  margin-bottom: 20px;
}

.services .content p {
  color: #999;
  line-height: 2rem;
  font-size: 14px;
  font-family: 'regular';
}

.services .image-content {
  width: 100%;
  height: 475px;
  border-radius: 7px 50%  50% 50%;
  overflow: hidden;
  position: relative;
  z-index: 99;
}

.services .image-content img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.services .image-content::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 0.1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 0;
}

.services .image-content .video-play {
  width: 72px;
  height: 72px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 9;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services .image-content .video-play i {
  color: #d91b5c;
  font-size: 25px;
}

.services .image-content .video-play .fisrt-circle, .services .image-content .video-play .second-circle {
  position: absolute;
  top: 0;
  width: 72px;
  height: 71px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: -1;
  display: block;
  border-radius: 50%;
  -webkit-animation: st-video-animaion 2s linear infinite;
          animation: st-video-animaion 2s linear infinite;
  -webkit-box-shadow: 0 0 0 5px #fff;
          box-shadow: 0 0 0 5px #fff;
}

.services-type {
  width: 100%;
  padding: 50px 0px;
}

.services-type nav {
  position: relative;
  padding: 0px 0px 50px  0px;
}

.services-type nav .dots {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
}

.services-type nav .dots span {
  margin: 0px 10px;
  width: 8px;
  height: 8px;
  border-radius: 20px;
  background-color: #ddd;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}

.services-type nav .dots span.active, .services-type nav .dots span:hover {
  width: 25px;
  height: 8px;
  background-color: #d91b5c;
}

.services-type .nav {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-color: transparent;
  position: relative;
}

.services-type .nav ::-webkit-scrollbar-thumb {
  background-color: transparent !important;
  border-radius: 0px !important;
}

.services-type .nav ::-webkit-scrollbar {
  width: 0px !important;
  background-color: transparent;
}

.services-type .nav .nav-item {
  border: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(217, 27, 92, 0.1);
  margin: 0px 10px;
  min-width: 170px !important;
  padding: 20px 10px;
  border-radius: 10px;
  position: relative;
  -webkit-box-shadow: 0px 3px 8px 0px #fbfbfb;
          box-shadow: 0px 3px 8px 0px #fbfbfb;
}

.services-type .nav .nav-item svg {
  width: 40px;
  height: 40px;
  fill: #d91b5c;
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
}

.services-type .nav .nav-item span {
  color: #222;
  font-family: 'regular';
  font-size: 16px;
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
  margin: 20px 0px 10px 0px;
}

.services-type .nav .nav-item::after {
  content: '';
  position: absolute;
  height: 20px;
  width: 20px;
  bottom: 0px;
  left: 50%;
  opacity: 0;
  -webkit-transform: translateX(-50%) rotate(45deg);
          transform: translateX(-50%) rotate(45deg);
  border-radius: 0px 0px 7px 0px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.services-type .nav .nav-item.active {
  background-color: #d91b5c;
}

.services-type .nav .nav-item.active svg {
  fill: #fff;
}

.services-type .nav .nav-item.active span {
  color: #fff;
}

.services-type .nav .nav-item.active::after {
  bottom: -10px;
  opacity: 1;
  background-color: #d91b5c;
}

.services-type .image-content {
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.services-type .image-content img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.services-type .content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services-type .content ul {
  list-style: none;
}

.services-type .content ul li {
  padding: 0px 20px;
  margin: 15px 0px;
  color: #999;
  font-size: 15px;
  font-family: 'regular';
  position: relative;
}

.services-type .content ul li::after {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #d91b5c;
  border-radius: 5px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: calc(50% - 10px);
  right: -10px;
}

.owl-carousel .owl-stage-outer {
  padding: 15px 0px;
}

.owl-theme .owl-dots .owl-dot span, .dots span {
  width: 8px;
  height: 8px;
  border-radius: 20px;
  background-color: #ddd;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span, .dots.active span, .dots:hover span {
  width: 25px;
  height: 8px;
  background-color: #d91b5c;
}

/*start positions*/
.positions {
  width: 100%;
  position: relative;
  padding: 60px 0px 50px 0px;
  background-color: #f9fafc;
  z-index: 999;
}

.positions .heading h4::after {
  background-color: #f9fafc;
}

.positions::after {
  content: '';
  position: absolute;
  width: 40%;
  height: 50%;
  background: url(../images/network_shape.svg);
  background-size: cover;
  background-repeat: no-repeat;
  top: 0;
  right: 0;
  z-index: -1;
}

.positions .box {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}

.positions .box .image-content {
  width: 100%;
  height: 250px;
  position: relative;
  overflow: hidden;
}

.positions .box .image-content img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.positions .box .image-content .rate {
  width: 100%;
  padding: 40px 10px 20px 10px;
  background: url(../images/member_shape.svg);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  bottom: -100px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}

.positions .box .image-content .rate i {
  font-size: 15px;
  color: #ddd;
  margin: 0px 5px;
  opacity: 0;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  will-change: transform,opacity;
}

.positions .box .image-content .rate i.active {
  color: #d91b5c;
}

.positions .box .content {
  width: 100%;
  padding: 20px 10px 20px 10px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.positions .box .content h6 {
  color: #d91b5c;
  font-family: 'bold';
  font-size: 18px;
  margin-bottom: 10px;
}

.positions .box .content p {
  font-family: 'regular';
  font-size: 14px;
  color: #666;
  line-height: 1.9rem;
  margin: 0px;
}

.positions .box:hover {
  -webkit-box-shadow: 0px 0px 10px #eaeaea;
          box-shadow: 0px 0px 10px #eaeaea;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.positions .box:hover .image-content .rate {
  bottom: 0;
}

.positions .box:hover .image-content .rate i {
  -webkit-animation: slideUp 1s ease .5s 1 normal forwards;
          animation: slideUp 1s ease .5s 1 normal forwards;
}

/*start contact-us*/
.contact-us {
  width: 100%;
  padding: 50px 0px;
  position: relative;
  z-index: 9;
}

.contact-us::after {
  content: '';
  position: absolute;
  width: 50%;
  height: 50%;
  background: url(../images/contact_shape.svg);
  bottom: 0;
  right: 0;
  z-index: -1;
}

.contact-us .form .form-group input, .contact-us .form .form-group select, .contact-us .form .form-group option, .contact-us .form .form-group textarea {
  resize: none;
  background-color: #f9fafc;
  padding: 9px 20px;
  width: 100%;
  border: 1px solid #999;
  border-radius: 5px;
  font-size: 15px;
  font-family: 'regular';
}

.contact-us .form .form-group input::-webkit-input-placeholder, .contact-us .form .form-group select::-webkit-input-placeholder, .contact-us .form .form-group option::-webkit-input-placeholder, .contact-us .form .form-group textarea::-webkit-input-placeholder {
  font-size: #888;
  font-family: 'regular';
  font-size: 16px;
}

.contact-us .form .form-group input:-ms-input-placeholder, .contact-us .form .form-group select:-ms-input-placeholder, .contact-us .form .form-group option:-ms-input-placeholder, .contact-us .form .form-group textarea:-ms-input-placeholder {
  font-size: #888;
  font-family: 'regular';
  font-size: 16px;
}

.contact-us .form .form-group input::-ms-input-placeholder, .contact-us .form .form-group select::-ms-input-placeholder, .contact-us .form .form-group option::-ms-input-placeholder, .contact-us .form .form-group textarea::-ms-input-placeholder {
  font-size: #888;
  font-family: 'regular';
  font-size: 16px;
}

.contact-us .form .form-group input::placeholder, .contact-us .form .form-group select::placeholder, .contact-us .form .form-group option::placeholder, .contact-us .form .form-group textarea::placeholder {
  font-size: #888;
  font-family: 'regular';
  font-size: 16px;
}

.contact-us .form .form-group input:active, .contact-us .form .form-group select:active, .contact-us .form .form-group option:active, .contact-us .form .form-group textarea:active {
  -webkit-box-shadow: 0px 0px 10px #eaeaea;
          box-shadow: 0px 0px 10px #eaeaea;
}

.contact-us .form .form-group select, .contact-us .form .form-group option {
  padding: 0px;
  height: 60px;
}

.contact-us .form .image-uploader {
  background-color: #f9fafc;
  border-color: #999;
  border-radius: 5px;
  color: #888 !important;
}

.contact-us .form .button-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-us .form .request-btn {
  padding: 10px 15px;
  background-color: #d91b5c;
  border: none;
  outline: none;
  border-radius: 5px;
  color: #fff;
  font-family: 'regular';
  font-size: 15px;
}

.contact-us .map-contain {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.contact-us .map-contain iframe {
  width: 100% !important;
  height: 400px;
}

footer {
  width: 100%;
  padding: 50px 0px 30px;
  background: url(../images/footer-bg.png) rgba(158, 160, 165, 0.7);
}

footer .content.center-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .content .image-content {
  width: 200px;
  height: 100px;
}

footer .content .image-content img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

footer .content p {
  color: #444;
  line-height: 2rem;
  font-size: 15px;
  margin: 20px 0px;
  font-family: 'regular';
  text-align: justify;
}

footer .content .socail-media {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

footer .content .socail-media a {
  width: 40px;
  height: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  background-color: #f9f9f9;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
  margin: 0px 5px;
}

footer .content .socail-media a i {
  color: #d91b5c;
  font-size: 20px;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}

footer .content .socail-media a:hover {
  background-color: #d91b5c;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-box-shadow: 0px 0px 10px #f9f9f9;
          box-shadow: 0px 0px 10px #f9f9f9;
}

footer .content .socail-media a:hover i {
  color: #f9f9f9;
}

footer .content h4 {
  font-size: 19px;
  color: #d91b5c;
  font-family: 'bold';
  margin: 50px 0px;
}

footer .content .links {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

footer .content .links li {
  margin: 20px 0px;
}

footer .content .links li a {
  padding: 0px 20px;
  color: #333;
  font-size: 15px;
  font-family: 'regular';
  position: relative;
}

footer .content .links li a::after {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #d91b5c;
  border-radius: 5px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: calc(50% - 10px);
  right: -10px;
}

.copyrights {
  width: 100%;
  text-align: center;
  padding: 10px 0px;
  background-color: #9ea0a5;
}

.copyrights p {
  color: #fff;
  margin: 0px;
  font-size: 16px;
  font-family: 'regular';
}

/*start loader*/
.loader {
  width: 100%;
  height: 100vh;
  background-color: #d91b5c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
}

.loader .wrapper {
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  -webkit-perspective: 800px;
          perspective: 800px;
}

.loader .wrapper .inner {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.loader .wrapper .inner.one {
  left: 0%;
  top: 0%;
  -webkit-animation: rotate-one 1s linear infinite;
          animation: rotate-one 1s linear infinite;
  border-bottom: 3px solid #EFEFFA;
}

.loader .wrapper .inner.two {
  right: 0%;
  top: 0%;
  -webkit-animation: rotate-two 1s linear infinite;
          animation: rotate-two 1s linear infinite;
  border-right: 3px solid #EFEFFA;
}

.loader .wrapper .inner.three {
  right: 0%;
  bottom: 0%;
  -webkit-animation: rotate-three 1s linear infinite;
          animation: rotate-three 1s linear infinite;
  border-top: 3px solid #EFEFFA;
}

.loader.hidden {
  -webkit-animation: loaderSlideDown 1s;
          animation: loaderSlideDown 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

/*scroll to top btn */
.scroll-top-button {
  opacity: 0;
  width: 40px;
  height: 40px;
  background: #d91b5c;
  color: #f9f9f9;
  position: fixed;
  bottom: 20px;
  z-index: 1000;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px !important;
}

.scroll-top-button:hover {
  background: #f9f9f9;
  border-radius: 50%;
  color: #d91b5c;
  -webkit-box-shadow: 0 0 10px rgba(217, 27, 92, 0.3);
          box-shadow: 0 0 10px rgba(217, 27, 92, 0.3);
}

.active-scroll {
  -webkit-animation: expands 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: expands 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  opacity: 1;
}
/*# sourceMappingURL=style.css.map */